$font-size-header: 30px;
$background-color-header: #655B59;
$primary-color-header: #fff;
$display-header: inline-block;
$padding-header: 4px 15px;

// Header 



.header {
  color: $primary-color-header;
  font-size: $font-size-header;
  background-color: $background-color-header;
  display: $display-header;
  padding: $padding-header;
}



