.carousel {
  position: relative;
  width: 100vw;
  height: calc(100vh - 150px);
  h1{
    color: white;
    font-weight: 400;
    font-size: 3em;
    letter-spacing: .15em;
    text-align: center;
    position: relative;
    width: 100%;
  }
  h1::before{
    content: ' ';
    width: 40px;
    height: 100%;
    background-color: #ff6969ce;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  h1::after{
    content: ' ';
    width: 40px;
    height: 100%;
    background-color: #ff6969ce;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
  }
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  will-change: opacity;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.indicators {
  text-align: center;
  padding: 20px;
  span {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #cfc5c4;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    transition: background-color 1.5s ease;
    -webkit-transition: background-color 1.5s ease;
    -moz-transition: background-color 1.5s ease;
    -o-transition: background-color 1.5s ease;
  }
}

@media (min-width: 768px) {
  .carousel {
    width: calc(100vw - 17px);
    height: 70vh;
  }
  .indicators {
    padding: 40px;
  }
}